.make-payment {
    background-color: var(--background-color);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.make-payment .header {
    display: flex;
    width: 100%;
}

.make-payment .content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    margin-bottom: 150px;
}
.make-payment .content .col-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0px 10px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.make-payment .content .col-left .login {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--stroke-color);
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
    margin-bottom: 12px;
}
.make-payment .content .col-left .deliveryAddress{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--stroke-color);
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
    margin-bottom: 12px;
}
.make-payment .content .col-left .deliveryAddress .view-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
}

.make-payment .content .col-left .addNewAddress {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--stroke-color);
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
    margin-bottom: 12px;
    cursor: pointer;
}

.make-payment .content .col-left .addressList .address-card {
    width: 100%;
}

.make-payment .content .col-left .addressList .address-card .delivery-or-pickup {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: 'Noto Sans';
    padding-bottom: 15px;
}

.make-payment .content .col-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    
    background-color: var(--background-color);
    padding: 0px 10px;
    margin: 0px 10px;
    border-radius: 4px;
    border: 1px solid var(--stroke-color);
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
}


/* CSS media query for screens larger than 768px */
@media (max-width: 768px) {
   
    .make-payment .content {
       width: 95%; 
   }
}

@media (min-width: 1024px) {
    .make-payment .content{
       width: 85%; 
   }
}

@media (min-width: 1440px) {
    .make-payment .content{
       width: 85%; 
   }
}

@media (min-width: 1600px) {
    .make-payment .content{
       width: 65%; 
   }
}