.cart-viewer {
 
    background: var(--background-color);
    flex-direction: column;
    display: flex;
    width: 450px;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    bottom: 0px;
    right: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-left: 1px solid var(--stroke-color);

}

.cart-viewer .main .offer-card-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    color: var(--primary-text-color);
    padding: 10px 28px;
    margin-top: 8px;
    background: #FFE6F5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.24);
    background-image: url('{{themeUrl}}/img/common/8.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}