.slz-home {
    display:flex;
    flex-direction: column;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: auto;
}

.slz-home .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}



.slz-home .main .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url("{{themeUrl}}/img/web/banner/bannerPlaceholder.svg");
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

.slz-home .main .banner .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 80px;
    font-weight: 600;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    animation: 1s ease-out forwards fadeInDown;
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    
    to {
      opacity: 1;
      transform: none;
    }
}

.slz-home .main .banner .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    animation: 1s ease-out forwards fadeInDown;
}

.slz-home .main .banner .shopButton {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    background-color: var(--btn-secondary-background-color);
    border-radius: 8px;
    border: 1.5px solid var(--btn-primary-background-color);
    color: var(--btn-primary-text-color);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans';
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
}

.slz-home .main .banner .shopButton:hover {
    background-color: var(--btn-secondary-background-color);
    border: 1px solid var(--btn-secondary-background-color);
    color: var(--btn-primary-text-color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.slz-home .main .section-service {
    width: 100%;
    height: 300px;
    background-color: var(--background-color);
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid var(--stroke-color); */
}

.slz-home .main .section-service .shipping-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    padding: 50px 20px;
    transition: all 0.3s ease-in-out;
}

.slz-home .main .section-service .shipping-container .img {
    width: 54px;
    height: 54px;
    object-fit: contain;
    margin-bottom: 24px;
}

.slz-home .main .section-service .shipping-container .title {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .section-service .shipping-container .description {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Noto Sans';
    color: var(--secondary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .category-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: var(--background-color);
    padding: 20px 20px;
}

.slz-home .main .category-view .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: var(--background-color);
    padding: 10px 10px;

}


.slz-home .main .category-view .left .content {
    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("{{themeUrl}}/img/common/placeholderImg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;

}

.slz-home .main .category-view .left .content .title {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .category-view .left .content .description {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .category-view .left .content .shopButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    background-color: var(--btn-secondary-background-color);
    border-radius: 8px;
    border: 1.5px solid var(--btn-primary-background-color);
    color: var(--btn-primary-text-color);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans';
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
}
.slz-home .main .category-view .left .content .shopButton:hover {
    background-color: var(--btn-secondary-background-color);
    border: 1px solid var(--btn-secondary-background-color);
    color: var(--btn-primary-text-color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}


/* ----*/

.slz-home .main .category-view .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: var(--background-color);
    padding: 10px 10px;

}

.slz-home .main .category-view .center .content {
    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("{{themeUrl}}/img/common/placeholderImg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;

}

.slz-home .main .category-view .center .content .title {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .category-view .center .content .description {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .category-view .center .content .shopButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    background-color: var(--btn-secondary-background-color);
    border-radius: 8px;
    border: 1.5px solid var(--btn-primary-background-color);
    color: var(--btn-primary-text-color);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans';
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
}
.slz-home .main .category-view .center .content .shopButton:hover {
    background-color: var(--btn-secondary-background-color);
    border: 1px solid var(--btn-secondary-background-color);
    color: var(--btn-primary-text-color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

/* ----*/
.slz-home .main .category-view .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: var(--background-color);
    padding: 10px 10px;

}

.slz-home .main .category-view .right .content {
    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("{{themeUrl}}/img/common/placeholderImg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;

}

.slz-home .main .category-view .right .content .title {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .category-view .right .content .description {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .category-view .right .content .shopButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    background-color: var(--btn-secondary-background-color);
    border-radius: 8px;
    border: 1.5px solid var(--btn-primary-background-color);
    color: var(--btn-primary-text-color);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans';
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
}
.slz-home .main .category-view .right .content .shopButton:hover {
    background-color: var(--btn-secondary-background-color);
    border: 1px solid var(--btn-secondary-background-color);
    color: var(--btn-primary-text-color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}



/* ----*/
.slz-home .main .category-view .right2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: var(--background-color);
    padding: 10px 10px;

}

.slz-home .main .category-view .right2 .content {
    
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("{{themeUrl}}/img/common/placeholderImg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;

}

.slz-home .main .category-view .right2 .content .title {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .category-view .right2 .content .description {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .category-view .right2 .content .shopButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    background-color: var(--btn-secondary-background-color);
    border-radius: 8px;
    border: 1.5px solid var(--btn-primary-background-color);
    color: var(--btn-primary-text-color);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans';
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
}
.slz-home .main .category-view .right2 .content .shopButton:hover {
    background-color: var(--btn-secondary-background-color);
    border: 1px solid var(--btn-secondary-background-color);
    color: var(--btn-primary-text-color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
/* fold-1 */

.slz-home .main .fold-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 600px; */
    background-color: var(--background-color);
    padding: 20px 20px;
}

.slz-home .main .fold-1 .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
}

.slz-home .main .fold-1 .content .title {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .fold-1 .content .description {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Noto Sans';
    color: var(--secondary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.slz-home .main .fold-1 .top-products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px 35px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin-bottom: 100px;
}

.slz-home .main .fold-1 .viewAllBtn {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    background-color: var(--btn-primary-background-color);
    border-radius: 8px;
    border: 1.5px solid var(--btn-primary-background-color);
    color: var(--btn-primary-text-color);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans';
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* fold-2 */

.slz-home .main .fold-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 570px;
    background-color: var(--background-color);
    padding: 20px 120px;
    overflow: hidden;
    margin-bottom: 100px;
}

.slz-home .main .fold-2 .foldImage {
    width: 50%;
    height: 100%;
  object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
}

.slz-home .main .fold-2 .right {
    width: 50%;
    height: 100%;
    background-color: transparent;
}

.slz-home .main .fold-2 .right .title {
    
    font-size: 24px;
    font-weight: 500;
    font-family: "Noto Sans";
    color: var(--primary-text-color);
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.slz-home .main .fold-2 .right .subtitle {
    
    font-size: 15px;
    font-weight: 500;
    font-family: 'Noto Sans';
    color: var(--secondary-text-color);
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.slz-home .main .fold-2 .right .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
}

.slz-home .main .fold-2 .right .description .content-1 {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans';
    color: var(--secondary-text-color);
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.slz-home .main .fold-2 .right .shopButton {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    background-color: var(--btn-primary-background-color);
    border-radius: 8px;
    border: 1.5px solid var(--btn-primary-background-color);
    color: var(--btn-secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans';
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
}


.slz-home .main .offerBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 475px;
    background-image: url("{{themeUrl}}/img/web/banner/bannerPlaceholder.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;
    margin-bottom: 100px;

}

.slz-home .main .offerBanner .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slz-home .main .offerBanner .content .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 44px;
    font-weight: 600;
    font-family: 'Noto Sans';
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    animation: 1s ease-out forwards fadeInDown;
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    
    to {
      opacity: 1;
      transform: none;
    }
}

.slz-home .main .offerBanner .content .shopButton {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 44px;
    background-color: var(--btn-secondary-background-color);
    border-radius: 8px;
    border: 1.5px solid var(--btn-primary-background-color);
    color: var(--btn-primary-text-color);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans';
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;
}

.slz-home .main .offerBanner .content .shopButton:hover {
    background-color: var(--btn-secondary-background-color);
    border: 1px solid var(--btn-secondary-background-color);
    color: var(--btn-primary-text-color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}


.slz-home .main .testimonials-section {

    width: 100%;
    height: auto;
    background-color: var(--background-color);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 10px 50px;
}

.slz-home .main .testimonials-section .title {
    font-size: 16px;
    font-weight: 500;
    font-family: "Noto Sans";
    text-transform: uppercase;
    color: var(--select-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.slz-home .main .testimonials-section .subTitle {
    font-size: 28px;
    font-weight: 500;
    font-family: "Noto Sans";
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 55px;
    letter-spacing: 0.5px;
}

.slz-home .main .testimonials-section .testimonials-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s ease-in;

    background-color: var(--background-color);
 
  
}

.slz-home .main .instagram-section {

    width: 100%;
    height: auto;
    background-color: var(--background-color);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 10px 10px;
}

.slz-home .main .instagram-section .title {
    font-size: 16px;
    font-weight: 500;
    font-family: "Noto Sans";
    text-transform: uppercase;
    color: var(--select-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.slz-home .main .instagram-section .subTitle {
    font-size: 28px;
    font-weight: 500;
    font-family: "Noto Sans";
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 55px;
    letter-spacing: 0.5px;
}

.slz-home .main .instagram-section .instagram-post{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s ease-in;
    flex-wrap: wrap;
    background-color: var(--background-color);
 
  
}




/* CSS media query for screens larger than 768px */
@media (max-width: 768px) {
   
    .slz-home .main .fold-1 .top-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 45px 45px;
        justify-items: center;
   }
}

@media (min-width: 1024px) {
    .slz-home .main .fold-1 .top-products{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px 45px;
        justify-items: center;
   }
}

@media (min-width: 1440px) {
    .slz-home .main .fold-1 .top-products{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 35px;
        justify-items: center;
   }
}

@media (min-width: 1600px) {
    .slz-home .main .fold-1 .top-products{
       
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       grid-gap: 35px 35px;
       justify-items: center;
   }
}

@media (min-width: 1920px) {
    .slz-home .main .fold-1 .top-products{
       
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       grid-gap: 35px 5px;
       justify-items: center;
   }
 
}

@media (min-width: 2560px) {
    .slz-home .main .fold-1 .top-products{
       
       display: grid;
       grid-template-columns: repeat(5, 1fr);
       grid-gap: 35px 4px;
       justify-items: center;
   }
   
}

@media (min-width: 3840px) {
    .slz-home .main .fold-1 .top-products{
       
       display: grid;
       grid-template-columns: repeat(7, 1fr);
       grid-gap: 35px 4px;
       justify-items: center;
   }

}
